:root{
    --Valor-vida:0;
    --Valor-ataque:0;
    --Valor-defesa:0;
    --Valor-ataquesp:0;
    --Valor-defesasp:0;
    --Valor-velocidade:0;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee4d30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}
.content{
    padding: 0;

}

.IMG{
    display: flex;
    flex-direction: column-reverse;
    min-width: max-content;
    max-height:300px;
    align-items: center;
}

.IMG .name{
    display: flex;
    text-transform: capitalize;
    color: white;
    align-self: flex-start;
    margin-left: 1.5rem ;
    position: absolute;
    top: 20px;
}

.Status{

    background-color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Info{
    width: 7.5rem;
    max-width: calc(var(--Valor-vida));
    margin-right: 20px;
}
.Valores .one p{
    margin: 0;
    margin-right: 0.7rem;
    width: 25px;

}
.Valores .oneD p{
    margin: 0;
    margin-right: 0.7rem;
    width: 25px;

}
.Valores .oneD1 p{
    margin: 0;
    margin-right: 0.7rem;
    width: 25px;

}
.Valores .one{
    display: flex;
    flex-direction: row;
    height: 18.4px;
    margin-top: 15px;
    margin-bottom: 32px;
}
.Valores .oneD{
    display: flex;
    flex-direction: row;
    height: 18.4px;
    margin-top: 15px;
    margin-bottom: 41.2px;

}
.Valores .oneD1{
    display: flex;
    flex-direction: row;
    height: 18.4px;
    margin-top: 15px;
    margin-bottom: 50.4px;

}

p{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.gif {
    min-height: 250px;
    margin-bottom: 1rem;

}

.nro{
    display: flex;
    align-self: flex-end;
    position: absolute;
    top: 30px;
    font-size:x-large;
    font-style: italic;
    font-weight: bold;
    margin-right: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.Tipos{
    display: flex;
    align-self: flex-start;
    margin-left: 1.5rem ;
    position: absolute;
    top: 60px;
    text-transform: capitalize;
}
.Tipos .Type{
    list-style: none;
    font-size: small;
    margin-left: 1rem;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    filter:brightness(1.3)
}

.progress{
    height: 18px;
    padding: 5px;
    background-color: #ccc;
    display: flex;
    border-radius: 10px;
    width: 14rem;
}
.progress .vida{
    height: 12px;
    width:calc(var(--Valor-vida)*0.13rem);
    background-color: hsl( calc(var(--Valor-vida) * 0.7) , 100%, 50%);
    border-radius: 10px;
    margin-top: 0.6px;
    align-self: center;
}
.progress .ataque{
    height: 12px;
    width:calc(var(--Valor-ataque)*0.13rem);
    background-color: hsl( calc(var(--Valor-ataque) * 0.7) , 100%, 50%);
    border-radius: 10px;
    margin-top: 0.6px;
    align-self: center;
}
.progress .defesa{
    height: 12px;
    width:calc(var(--Valor-defesa)*0.13rem);
    background-color:hsl( calc(var(--Valor-defesa) * 0.7) , 100%, 50%);
    border-radius: 10px;
    margin-top: 0.6px;
    align-self: center;
}
.progress .ataquesp{
    height: 12px;
    width:calc(var(--Valor-ataquesp)*0.13rem);
    background-color:hsl( calc(var(--Valor-ataquesp) * 0.7) , 100%, 50%);
    border-radius: 10px;
    margin-top: 0.6px;
    align-self: center;
}
.progress .defesasp{
    height: 12px;
    width:calc(var(--Valor-defesasp)*0.13rem);
    background-color:hsl( calc(var(--Valor-defesasp) *0.7) , 100%, 50%);
    border-radius: 10px;
    margin-top: 0.6px;
    align-self: center;
}
.progress .velocidade{
    height: 12px;
    width:calc(var(--Valor-velocidade)*0.13rem);
    background-color:hsl( calc(var(--Valor-velocidade) *0.7) , 100%, 50%);
    border-radius: 10px;
    margin-top: 0.6px;
    align-self: center;
}

@media screen and (min-width: 449px) {

.Valores .oneD{
    display: flex;
    flex-direction: row;
    height: 18.4px;
    margin-top: 15px;
    margin-bottom: 32px;

}
.Valores .oneD1{
    display: flex;
    flex-direction: row;
    height: 18.4px;
    margin-top: 15px;
    margin-bottom: 32px;

}
}